@import "../../../styles/colors";

.center-container {
  width: 75%;
  margin: 0 auto;
  border: .5px solid rgba($lightPrimary, .5);
  background-color: white;
  min-height: 100vh;

  .content {
    width: 50%;
    margin: 0 auto;
    border: .5px solid rgba(white, .5);

    @media (max-width: 1025px) {
      width: 65%;
    }

    @media (max-width: 600px) {
      width: 100%;
    }
  }
}
