@import "../../../../styles/colors";

.relative-container {
  position: relative;
  height: 90px;
  width: 220px;
  transition: .2s all ease-in-out;

  .menu-box {
    position: absolute;
    top: 15px;
    right: 0;
    width: 220px;
    overflow: hidden;

    @media (max-width: 650px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .profile {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      border-radius: 50px;
      padding: 5px;
      transition: .1s all ease-in-out;

      @media (max-width: 650px) {
        width: 80px;
        text-align: center;
      }

      &:hover:not(.active-color) {
        cursor: pointer;
      }

      .avatar {
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 10px;
        position: relative;

        @media (max-width: 650px) {
          margin-right: 0;
        }

        &-img {
          //width: 100%;
          height: 100%;
          -webkit-background-clip: padding-box;
          -moz-background-clip: padding;
          background-clip: padding-box;
        }
      }

      .username {
        font-weight: 600;
        font-size: 17px;
        text-overflow: ellipsis;

        @media (max-width: 650px) {
          display: none;
        }
      }
    }

    .dropdown {
      margin: 5px auto auto 5px;
      border-radius: 40px;
      padding: 15px;
      width: 200px;
      box-sizing: border-box;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-option {
        margin: 5px;
        font-weight: 500;
        font-size: 17px;
        padding: 8px;
        text-align: center;

        &:hover {
          cursor: pointer;
          border-radius: 40px;
        }
      }
    }
  }
}

.active-color {
  background-color: $lightPrimary;
}

.active {
  height: 400px !important;
}

.hidden {
  height: 60px !important;
}

.center-position {
  position: absolute;
  top: 85px;
  margin: auto;

  left: 0;
  right: 0;

  .profile {
    flex-direction: column;
    justify-content: space-evenly !important;
    align-items: center;
    height: 165px !important;

    .avatar {
      width: 100px !important;
      height: 100px !important;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 0 !important;
      transition: transform .2s ease-in-out;
      object-fit: contain;

      &:hover {
        transform: scale(1.3);
      }

      &-img {
        height: 100%;
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
      }
    }
  }

  .hidden {
    height: 175px !important;
  }
}


.sidebar-mode {
  position: fixed;
  right: 200px;
  top: 15px;
  -webkit-animation: slide-in-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.mat-spinner {
  width: 100%;
  position: absolute;
  margin: 0 auto;
  z-index: 99999;
}
