<header class="d-header">
  <h2> Редактор профиля </h2>

  <mat-dialog-actions>
    <button mat-dialog-close mat-icon-button>
      <mat-icon> close </mat-icon>
    </button>
  </mat-dialog-actions>
</header>

<mat-dialog-content class="dialog">
  <div class="d-container">

    <form class="edit-form" [formGroup]="form">

      <div class="img-wrapper">
        <label for="img">

          <img *ngIf="!imgPreview"
            src="{{authFacade.photo$ | async}}"
            alt="profile avatar">

          <img *ngIf="imgPreview"
            src="{{imgPreview}}"
            alt="profile avatar">

        </label>
        <input (change)="selectImage($event)" id="img" type="file" class="file-inp" formControlName="img">
      </div>

      <mat-form-field appearance="outline">
        <mat-label> Имя</mat-label>

        <input type="text" matInput formControlName="name">

        <!--      <mat-error *ngIf="signInForm.get('login').hasError('required')">-->
        <!--        Забыли написать)-->
        <!--      </mat-error>-->

        <mat-icon matSuffix>
          person
        </mat-icon>

      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label> Никнейм</mat-label>

        <input type="text" matInput formControlName="username">

        <!--      <mat-error *ngIf="signInForm.get('login').hasError('required')">-->
        <!--        Забыли написать)-->
        <!--      </mat-error>-->

        <mat-icon matSuffix>
          account_circle
        </mat-icon>

      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label> Вебсайт</mat-label>

        <input type="text" matInput formControlName="site">

        <!--      <mat-error *ngIf="signInForm.get('login').hasError('required')">-->
        <!--        Забыли написать)-->
        <!--      </mat-error>-->

        <mat-icon matSuffix>
          public
        </mat-icon>

      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label> О себе</mat-label>

        <textarea cols="80" matInput formControlName="bio"></textarea>
      </mat-form-field>

      <button (click)="save()" mat-raised-button color="primary">Сохранить</button>

    </form>
  </div>
</mat-dialog-content>
