<div class="post">

  <div class="post-header">

    <div class="user" *ngIf="user$ | async">
      <app-small-user [routerLink]="['/profile/'+postData.author]" *inView [user$]="user$"></app-small-user>
    </div>

    <div class="date">
      <span>
        {{postData.date | date : "yyyy:MM:dd hh:mm"}}
      </span>
    </div>

  </div>

  <div class="post-main">
    <div class="text" [class.hide-shadow]="postData.text?.length > 50" *ngIf="postData.text">{{postData.text}}</div>
  </div>

  <div class="post-images" *ngIf="postData.images.length">
    <div class="img-item" *ngFor="let img of (images | async)">
      <img src="{{img}}" alt="img">
    </div>
  </div>

  <div class="post-voice" *ngIf="postData.voice.length">
    <audio src="{{voice | async}}" controls="controls">
    </audio>
  </div>

  <div class="post-btns">
    <button mat-icon-button matTooltip="Нравиться">
      <mat-icon>
        favorite_border
      </mat-icon>
    </button>

    <button mat-icon-button
            *ngIf="isRootProfile"
            (click)="postsFacade.removePost(postData._id)"
            matTooltip="Удалить пост">
      <mat-icon>
        delete
      </mat-icon>
    </button>
  </div>

</div>


