@import "../../../../../styles/colors";
@import "../../../../../styles/animations";


.theme-toggle {
  position: absolute;
  right: 50px;
  top: 50px;
  color: rgba(orange, .5);

  @media (max-width: 900px) {
    position: absolute;
    right: 0;
    left: 30px;
    top: 92vh;
  }
}

.form-wrapper {
  transition: all .2s ease-in-out;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 10px;

  @media (max-width: 1000px) {
    margin-top: 200px;
  }

  @media (max-width: 600px) {
    width: 100%;
  }
}

.form-account {
  width: 350px;


}

.mat-form-field {
  width: 100%;
}

.logo-text {

  .text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: .2s all ease-in-out;
    overflow: hidden;
    padding: 10px;
    height: 150px;
    box-sizing: border-box;
  }

  &:hover .text {
    transform: rotate(45deg);
    color: $white;
    padding-left: 30px;
  }

  @media (max-width: 900px) {
    transform: rotate(0deg);
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    height: 150px;
    margin: 0;
    text-align: center;

    &:hover .text {
      transform: rotate(0deg);
      color: $white;
    }
  }

  @media (max-width: 600px) {
    background-color: rgba($primary, .7);
    backdrop-filter: blur(20px);
    color: $white;
    padding-bottom: 50px;
  }
}


