<div class="post">

  <div class="post-header">

    <div class="user" *ngIf="user$ | async">

<!--      <div class="avatar-wrapper">-->
<!--        <img src="https://content.dropboxapi.com/apitl/1/A0xa7LQb4e2-NgPZcL1SgxiU_zeBvONZT-YpssBS9hdXpUChGnPs1Em0urlgCkwDxUJixfj1Tucb-SBFYQWPrr82AjWcwjLP5HlE0nmjB7XjyKa41I5lU4zpFH0m4pzJKmvNGM4oq07rUoW04Ssntu-nHCvXWOxnvE5GxxrgusxtsZ7ZB3PjGUgNgwMV1KT43gGGw3ou7kYhZzxyYzsSeRCp15FvGT3hVKsNVOIta2__Y754ySSNv92u1tZ6NjJGh-Akuk5GHkIudKSNi-EsvuxhOa11mwoxymUdEXtxNWlNmL49quAAxGz1q9rC4TkT9UShv9hN0GONwY6FFdFXbF9JTAoNVUTC9oFKV8IkxMXxJFnQDeEt9zthhhPBwcKYKs8" alt="avatar">-->
<!--      </div>-->

<!--      <div class="username">-->
<!--        <span>@sasha</span>-->
<!--      </div>-->
      <app-small-user *inView [user$]="user$"></app-small-user>
    </div>

    <div class="date">
      <span>
        {{postData.date | date : "yyyy:MM:dd hh:mm"}}
      </span>
    </div>

  </div>

  <div class="post-main">
    <div class="text" [class.hide-shadow]="postData.text?.length > 50" *ngIf="postData.text">{{postData.text}}</div>
  </div>

</div>


