@import "colors";

main {
  height: 90vh;

  .post-lent {
    padding-top: 350px;
    width: 40%;
    margin: 0 auto;

    .about {
      background-color: rgba($primary, .2);
      border-radius: 30px;
      height: 100px;
      width: 100%;
    }

    .divider {
      height: 1px;
      margin-bottom: 10px;
      border-top: 1px solid rgba($primary, .5);
    }
  }
}
