@import "../../../../styles/colors";
@import "../../../../styles/animations";

/* Основной вид */
.menu {
  transition: .1s all ease-in-out;

  &:hover {
    width: auto;
    padding: 20px;
    border-radius: 30px;
  }

  &:hover .menu-item {
    display: inline;
  }

  &:hover .menu-item .expand-ico {
    display: none;
  }

  &-item {
    font-size: 18px;
    margin: 0 8px;
    transition: .1s all ease-in-out;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 8px;

    &:hover {
      cursor: pointer;
      border-radius: 30px;
    }

    &:nth-child(2) {
      display: none;
    }

    &:nth-child(3) {
      display: none;
    }

    &_link {
      text-decoration: none;
      color: inherit;
    }
  }
}

/* Когда пользователь на странице Профиль */
.self-end {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* Когда страница прокручена вниз */
.sidebar-mode {
  position: fixed;
  left: 200px;
  top: 25px;
  display: flex;
  border-radius: 30px;
  height: 190px;
  width: 200px !important;
  flex-direction: column !important;
  animation: slide-in-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  -webkit-animation: slide-in-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  .menu-item {
    font-size: 20px;
    margin: 10px;
    text-align: left;
  }
}




