/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap');

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.center {
  display: flex;
  height: 100vh;
}

.form-wrapper, .form-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  margin: auto;
}

.logo-text {
  font-family: 'Quicksand', sans-serif !important;
  font-weight: 900 !important;
  font-size: 65px !important;
}
