/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap');
@import '~@ctrl/ngx-emoji-mart/picker';
@import "./styles/themes";
@import "./styles/colors";
@import "./styles/mixins";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  @include scrollbar;
}

.center {
  display: flex;
  height: 100vh;
  scroll-behavior: smooth;

}

.form-wrapper, .form-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  margin: auto;
}

.logo-text {
  font-family: 'Quicksand', sans-serif !important;
  font-weight: 900 !important;
  font-size: 65px !important;
  color: inherit;
}

.link {
  text-decoration: none;
  align-self: flex-end;
  margin: 20px 10px;
}



.mat-dialog-container {
  position: relative !important;
  overflow: hidden !important;
}


.emoji-mart-scroll {
  @include scrollbar;
  overflow-x: hidden;
}
