$primary: #3F51B5;
$lightPrimary: #9FA8DA;
$lightPrimary2: #c5cbed;
$white: rgba(white, .9);
$darkModeWhite: rgba(white, .8);
$black: rgba(black, .8);
$darkBlack: rgba(black, .9);
$lightGray: rgba(darkgray, .6);
$darkModePrimary: #5b67a8;
