@import "colors";

.light-theme {
  background-color: white;
  color: $black;
  transition: all .2s ease-in-out;

  audio::-webkit-media-controls-panel {
    background-color: rgba(#9FA8DA, .3);
    color: white;
  }

  .mat-form-field-label {
    color: black;
  }

  .logo-text {
    margin: 15px 0 0 15px;
    position: absolute;
    transition: .2s ease-in-out;
    width: 1000px;
    height: 400px;
    left: -380px;
    top: -100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 65px;
    transform: rotate(-45deg);
    color: inherit;

    &:hover {
      background-color: rgba($primary, .7);
      backdrop-filter: blur(20px);
    }
  }

  header {
    background-color: whitesmoke;

    .profile {
      &:hover:not(.active-color) {
        background-color: rgba($lightPrimary, .5);
      }
    }

    .dropdown {
      background-color: $lightPrimary;

      &-option {
        &:hover {
          background-color: rgba(whitesmoke, .7);
        }
      }

    }
  }

  .menu {
    &:hover {
      background-color: rgba($lightPrimary, .5);
    }

    &-item {
      &:hover {
        background-color: rgba(whitesmoke, .7);
      }
    }
  }

  .search-bar {
    &_inp {
      background-color: rgba(lightgray, .45);

      &:focus {
        background-color: rgba(#9FA8DA, .5);
      }
    }

    .results {
      background-color: $lightPrimary2;
    }
  }
}

.dark-theme {
  background-color: #202124;
  color: $darkModeWhite;
  transition: all .2s ease-in-out;

  audio::-webkit-media-controls-panel {
    background-color: rgba(#9FA8DA, .9);
    color: white;
  }

  .form-wrapper {
    background-color: rgba($white, .1);
    padding: 20px 0;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .link {
    color: $darkModeWhite;
  }

  .logo-text {
    margin: 15px 0 0 15px;
    position: absolute;
    transition: .2s ease-in-out;
    width: 1000px;
    height: 400px;
    left: -380px;
    top: -100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 65px;
    transform: rotate(-45deg);
    color: inherit;

    &:hover {
      background-color: $darkModePrimary;
      backdrop-filter: blur(20px);
    }
  }

  .mat-form-field-label {
    color: $darkModeWhite;
  }

  header {
    background-color: $darkBlack;

    .profile {

      &:hover:not(.active-color) {
        background-color: $darkModePrimary;
      }
    }

    .dropdown {
      background-color: $darkModePrimary;

      &-option {
        &:hover {
          background-color: rgba(whitesmoke, .3);
        }
      }
    }

  }

  .menu {
    &:hover {
      background-color: $darkModePrimary;
    }

    &-item {
      &:hover {
        background-color: rgba(whitesmoke, .3);
      }
    }
  }

  .active-color {
    background-color: $darkModePrimary;
  }

  .mat-dialog-container {
    background-color: #202124;
    color: inherit;
  }

  .search-bar {
    &_inp {
      color: rgba(white, .8);
      background-color: rgba(white, .2);

      &:focus {
        background-color: rgba($darkModePrimary, .9);
      }

      &::placeholder {
        color: rgba(white, .8);
      }
    }

    .results {
      background-color: $darkModePrimary;
    }
  }

  .post-creator {
    background-color: rgba(white, .05) !important;

    .editor {
      background-color: transparent;
      color: inherit;

      &::placeholder {
        color: inherit !important;
      }
    }
  }
}


